body {
  font-family: "Quicksand", sans-serif;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}
aside .social-media {
  height: 100%;
  display: flex;
}
aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
aside .social-media li {
  list-style-type: none;
}
aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}
aside .social-media li a:hover {
  color: #89b0d9;
}
